<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar flat fixed :color="appbarBack" class="mx-auto pa-0">
                <div style="width: 1200px;margin: 0 auto;" class="d-flex mx-auto pa-0">
                    <v-btn>
                        logo
                    </v-btn>

                    <v-spacer></v-spacer>

                    <v-btn text :color="appbarColor" class="font-weight-bold">
                        首页
                    </v-btn>

                    <v-btn text :color="appbarColor" style="opacity: 0.5;">
                        液货计量
                    </v-btn>

                    <v-btn text :color="appbarColor" style="opacity: 0.5;">
                        散货计重
                    </v-btn>

                    <v-btn text :color="appbarColor" style="opacity: 0.5;">
                        数据查询
                    </v-btn>

                    <v-btn text :color="appbarColor" style="opacity: 0.5;">
                        个人中心
                    </v-btn>
                </div>

            </v-app-bar>
            <v-content>
                <v-carousel id="card1" cycle hide-delimiter-background :show-arrows="false" interval="6000"
                    :height="bannerHeigth">
                    <v-carousel-item src="./images/banner_image_one@2x.png">
                        <v-card max-width="1200" :height="bannerHeigth"
                            class="mx-auto px-4 white--text d-flex flex-column justify-center" flat
                            style="background-color:transparent;">
                            <v-img class="flex-grow-0" width="650" height="73"
                                src="./images/banner_headline_one@2x.png"></v-img>
                            <v-card-title class="white--text pl-0 pt-8">基于云计算和区块链技术</v-card-title>
                            <v-card-title class="white--text pl-0 pt-0">集计量计重、防伪溯源、报告出证、大数据分析等丰富功能于一体
                            </v-card-title>
                        </v-card>
                    </v-carousel-item>
                    <v-carousel-item src="./images/banner_image_two@2x.png">
                        <v-card max-width="1200" :height="bannerHeigth"
                            class="mx-auto white--text d-flex flex-column justify-center" flat
                            style="background-color:transparent;">
                            <v-img width="785" class="flex-grow-0 mx-auto"
                                src="./images/banner_image_two_headline@2x.png"></v-img>
                        </v-card>
                    </v-carousel-item>
                    <v-carousel-item src="./images/banner_image_three@2x.png">
                        <v-card max-width="1200" :height="bannerHeigth"
                            class="mx-auto white--text d-flex flex-column justify-center" flat
                            style="background-color:transparent;">
                            <v-img width="785" class="flex-grow-0 mx-auto"
                                src="./images/banner_image_three_headline@2x.png"></v-img>
                        </v-card>
                    </v-carousel-item>
                </v-carousel>

                <v-window id="card2" v-model="banner" style="position: relative;background-color:#FAF9FF;">
                    <v-window-item v-for="banner in bannerArr">
                        <v-card color="#FAF9FF" :height="bannerHeigth" width="1200" class="mx-auto white--text px-4"
                            flat>
                            <v-row justify="space-between" align="center" align-content="center"
                                style="height: 100%;width: 100%;">
                                <v-col cols="4" class="text-center">
                                    <v-row class="flex-column ma-0 fill-height" justify="center">
                                        <v-col class="px-0">
                                            <p class="display-4 text-left font-weight-medium" style="color: #1A80FF;">
                                                {{banner.title}}</p>
                                        </v-col>
                                        <v-col class="px-0 black--text text-left">
                                            <p>{{banner.p}}</p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="8" justify="right" align="right">
                                    <v-img :width="banner.width" :height="banner.height" :src="banner.src"></v-img>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-window-item>
                    <div class="px-2"
                        :style="{position: 'absolute',width: '1200px',height:bannerHeigth+'px',top:'61%',left:'0',right:'0',margin:'auto',padding:'0 16px'}">
                        <v-item-group v-model="banner" class="text-left">
                            <v-item v-for="n in length" :key="`btn-${n}`" v-slot:default="{ active, toggle }">
                                <v-btn small left icon @click="toggle" :color="active?'#1A80FF':'rgba(26,128,255,0.3)'">
                                    <v-icon small>mdi-record</v-icon>
                                </v-btn>
                            </v-item>
                        </v-item-group>
                    </div>
                </v-window>

                <v-card id="card3" tile :height="bannerHeigth"
                    class="mx-auto white--text d-flex flex-column justify-center" flat
                    img="./images/characteristic_bg@2x.png">
                    <v-img class="mx-auto flex-grow-0" width="900" src="./images/characteristic_image_icon@2x.png">
                    </v-img>
                </v-card>

                <v-card color="#FAF9FF" id="card4" tile :height="bannerHeigth" flat
                    class="d-flex flex-column justify-center">
                    <div class="mb-12" style="width: 773px;margin: 0 auto;">
                        <v-img width="242" class="mx-auto my-12" src="./images/inspection_company@2x.png"></v-img>
                        <v-row justify="center" align="center" class="text-center">
                            <v-col cols="2">
                                <v-img width="100" style="margin: 0 auto;" src="./images/free_registration_icon@2x.png">
                                </v-img>
                                <!-- <p>免费注册</p> -->
                            </v-col>
                            <v-col cols="3">
                                <v-item v-for="n in length" :key="`btn-${n}`">
                                    <v-btn icon x-small color="rgba(26,128,255,1)">
                                        <v-icon x-small>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-col>
                            <v-col cols="2">
                                <v-img width="100" style="margin: 0 auto;" src="./images/platform_audit_icon@2x.png">
                                </v-img>
                                <!-- <p>平台审核</p> -->
                            </v-col>
                            <v-col cols="3">
                                <v-item v-for="n in length" :key="`btn-${n}`">
                                    <v-btn icon x-small color="rgba(26,128,255,1)">
                                        <v-icon x-small>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-col>
                            <v-col cols="2">
                                <v-img width="100" style="margin: 0 auto;" src="./images/start_using_icon@2x.png">
                                </v-img>
                                <!-- <p>开始使用</p> -->
                            </v-col>
                        </v-row>
                        <v-row justify="center" align="center" class="text-center headline">
                            <v-col cols="2">
                                <p style="color:#1A80FF;">免费注册</p>
                            </v-col>
                            <v-col cols="3">
                            </v-col>
                            <v-col cols="2">
                                <p style="color:#1A80FF;">平台审核</p>
                            </v-col>
                            <v-col cols="3">
                            </v-col>
                            <v-col cols="2">
                                <p style="color:#1A80FF;">开始使用</p>
                            </v-col>
                        </v-row>
                    </div>
                    <div style="width:900px;" class="mx-auto mt-12">
                        <v-img width="211" class="mx-auto mb-12" src="./images/shipping_company@2x.png"></v-img>
                        <v-row justify="center" align="center" no-gutters class="text-center mb-4">
                            <v-col col="auto">
                                <v-img width="80" style="margin: 0 auto;" src="./images/free_registration_icon@2x.png">
                                </v-img>
                            </v-col>
                            <v-col col="auto">
                                <v-item v-for="n in length" :key="`btn-${n}`">
                                    <v-btn x-small icon color="rgba(26,128,255,1)">
                                        <v-icon x-small>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-col>
                            <v-col col="auto">
                                <v-img width="80" style="margin: 0 auto;" src="./images/upload_icon@2x.png">
                                </v-img>
                            </v-col>
                            <v-col col="auto">
                                <v-item v-for="n in length" :key="`btn-${n}`">
                                    <v-btn x-small icon color="rgba(26,128,255,1)">
                                        <v-icon x-small>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-col>
                            <v-col col="auto">
                                <v-img width="80" style="margin: 0 auto;" src="./images/platform_audit_icon@2x.png">
                                </v-img>
                            </v-col>
                            <v-col col="auto">
                                <v-item v-for="n in length" :key="`btn-${n}`">
                                    <v-btn x-small icon color="rgba(26,128,255,1)">
                                        <v-icon x-small>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-col>
                            <v-col col="auto">
                                <v-img width="80" style="margin: 0 auto;" src="./images/start_using_icon@2x.png">
                                </v-img>
                            </v-col>
                        </v-row>
                        <v-row no-gutters justify="center" align="center" class="text-center headline">
                            <v-col col="2">
                                <p style="color:#1A80FF;">免费注册</p>
                            </v-col>
                            <v-col col="3">
                            </v-col>
                            <v-col col="2">
                                <p style="color:#1A80FF;">上传舱容表</p>
                            </v-col>
                            <v-col col="3">
                            </v-col>
                            <v-col col="2">
                                <p style="color:#1A80FF;">平台审核</p>
                            </v-col>
                            <v-col col="3">
                            </v-col>
                            <v-col col="2">
                                <p style="color:#1A80FF;">开始使用</p>
                            </v-col>
                        </v-row>
                    </div>
                    <!-- <div class="mt-12" style="width: 812px;margin: 0 auto;">
                        
                    </div> -->
                </v-card>

                <v-card id="card5" tile :height="bannerHeigth"
                    class="mx-auto white--text d-flex flex-column justify-center" flat
                    img="./images/business_entrance_bg@2x.png">
                    <v-row style="width: 1034px;margin: 0 auto;" no-gutters justify="center" align="center">
                        <v-col cols="4" align="left">
                            <v-img class="mb-6" width="180" src="./images/liquid _cargo_metering_icon@2x.png"></v-img>
                            <v-btn class="subtitle-1" min-width="180" rounded color="#fff">
                                液货计量
                            </v-btn>
                        </v-col>
                        <v-col cols="4" align="center">
                            <v-img class="mb-6" width="180" src="./images/bulk_weight_icon@2x.png"></v-img>
                            <v-btn class="subtitle-1" min-width="180" rounded color="#fff">
                                散货计重
                            </v-btn>
                        </v-col>
                        <v-col cols="4" align="right">
                            <v-img class="mb-6" width="180" src="./images/data_query_icon@2x.png"></v-img>
                            <v-btn class="subtitle-1" min-width="180" rounded color="#fff">
                                数据查询
                            </v-btn>
                        </v-col>
                    </v-row>

                </v-card>
            </v-content>
            <v-footer padless color="#414141" class="text-center">
                <v-col class="text-center" cols="12">
                    <p class="d-inline" style="color:#817F7F;">版权所有</p>
                    <p class="d-inline white--text">&nbsp;南京携众信息科技有限公司</p>
                    <p class="d-inline" style="color:#817F7F;">&nbsp;@2018-2018</p>
                    <p class="d-inline white--text">&nbsp;&nbsp;&nbsp;苏ICP备07023176号-2</p>
                </v-col>
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                appbarBack: "transparent",
                appbarColor: "white",
                bannerHeigth: 0,
                length: 6,
                banner: 0,
                index: 1,
                autorun: true,
                bannerArr: [
                    {
                        title: "速度快",
                        p: "仅需几分钟即可完成计量计重出具报告，大幅提高工作效率!",
                        src: "./images/fast_image_one@2x.png",
                        width: "709",
                        height: "634"
                    },
                    {
                        title: "结果准",
                        p: "无需计算！只要输入吃水等观测值即可自动完成工作，精度可达小数点后6位！",
                        src: "./images/accurate_two@2x.png",
                        width: "645",
                        height: "496"
                    },
                    {
                        title: "数据全",
                        p: "内置船舶资料，作业数据提供照片存证，提供经验常数（底量）运载能力、亏舱率、装卸效率等全方位大数据分析功能",
                        src: "./images/whole_three@2x.png",
                        width: "498",
                        height: "565"
                    },
                    {
                        title: "传输易",
                        p: "自动生成PDF格式计量报告，即可打印输出，也可通过QQ、微信等分享传输！",
                        src: "./images/easy_four@2x.png",
                        width: "695",
                        height: "414"
                    },
                    {
                        title: "防伪造",
                        p: "船舶资料、计量报告和全部作业数据均采用区块链储存，防伪造防篡改！",
                        src: "./images/prevention_five@2x.png",
                        width: "661",
                        height: "475"
                    },
                    {
                        title: "控成本",
                        p: "标准化作业流程和强大的计算能力，新手也能迅速具备上岗作业能力，大幅降低人员成本！",
                        src: "./images/control_six@2x.png",
                        width: "739",
                        height: "441"
                    },
                ]
            }),
            created() {
                this.getHeight()
                setInterval(() => {
                    if (!this.autorun) return
                    if (++this.banner >= this.length) this.banner = 0
                }, 6000)
            },
            mounted() {
                window.addEventListener('mousewheel', this.debounce(this.handleScroll, 300), true) || window.addEventListener("DOMMouseScroll", this.debounce(this.handleScroll, 300), false)
            },
            methods: {
                debounce(func, wait) {
                    let timeout;
                    return function () {
                        let context = this;
                        let args = arguments;
                        if (timeout) clearTimeout(timeout);
                        timeout = setTimeout(() => {
                            func.apply(context, args)
                        }, wait);
                    }
                },
                handleScroll(e) {
                    let direction = e.deltaY > 0 ? 'down' : 'up'
                    let scrollTop = document.documentElement.scrollTop

                    console.log(direction)
                    if (direction == 'down') {
                        this.index++
                        this.$vuetify.goTo("#card" + this.index)
                    } else {
                        this.index--
                        this.$vuetify.goTo("#card" + this.index)
                    }
                    if (this.index == 2 || this.index == 4) {
                        this.appbarColor = "#1C7CFF"
                        this.appbarBack = "#fff"
                    } else {
                        this.appbarColor = "white"
                        this.appbarBack = "transparent"
                    }

                },
                getHeight() {
                    this.bannerHeigth = window.innerHeight;
                    console.log(this.bannerHeigth);
                }
            },
        })
    </script>
</body>

</html>